.page {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* HEADER */

.header {

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 168px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 64px;
  list-style-type: none;
}

.nav-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.nav-link::before {
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  visibility: hidden;
  height: 2px;
  width: calc(100% - 32px);
  background-color: #756257;
  content: '';
}

.nav-link:hover::before,
.nav-link.active::before {
  visibility: visible;
}

.nav-link-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 44px;
  text-decoration: none;
}

.likes-number {
  position: absolute;
  top: 11px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #7db54f;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #fff;
}

.nav-link-button {
  display: block;
  margin-left: 20px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

/* / HEADER */


/* MAIN */

/* WELCOME */

.welcome {
  position: relative;
}

.welcome-text {
  position: absolute;
  top: 51px;
  right: 371px;
  bottom: 82px;
  left: 371px;
}

.welcome-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}


/* / WELCOME */

/* / MAIN */
